<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title> Auction App </title>

  
<body>
  <!-- Navigation bar -->
    <nav class="navbar is-info" role="navigation">
      <div class="navbar-brand">
        <a href="/" class="navbar-item"><strong>Auction App</strong></a>

        <a class="navbar-burger">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu">
        <div class="navbar-end">
          {% if request.user.is_authenticated %}
          <a href="{% url 'profilepage' %}" class="navbar-item">Profile Page</a>

          {% endif %}

          <div class="navbar-item">
            <div class="buttons">
              {% if request.user.is_authenticated %}
              <a href="{% url 'logout' %}" class="button is-danger"><strong>Log out</strong></a>
              {% else %}
              <a href="{% url 'signup' %}" class="button is-success"><strong>Sign up</strong></a>
              <a href="{% url 'login' %}" class="button is-light"> Log in</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

    </nav>

    <section class="section">
      {% block content %}
      {% endblock %}
    </section>

</body>

</html>

